@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
}

body,
html {
    color: black;
    margin: 0;
    font-family: "Raleway", sans-serif;
    max-width: 1430px;
    position: relative;
}

a:visited {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}

header .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

header li {
    list-style: none;
}

#bloc_page {
    max-width: 95%;
    margin: 0 auto;
}


/* header-top */

.logo {
    padding-top: 10px;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
}

.header-top figure {
    margin: 10px 0px 20px 0;
}

.header-top nav ul {
    display: flex;
}

.header-top .menu {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
}

.header-top .menu a {
    text-decoration: none;
    padding-top: 22px;
    margin-right: 20px;
    font-size: 14px;
}

.header-top .menu a:hover {
    border-top: 5px solid #0065fc;
    transition: 0.3s;
    color: #0065fc;
}

.header-top .menu li:nth-child(3) {
    font-weight: bolderer;
    color: #fca400;
}


/* header-titre */

#titre {
    margin-bottom: 15px;
}

#titre p,
h2 {
    margin: 0;
}

#titre p {
    margin-top: 8px;
    font-size: 14px;
}

#titre h2 {
    font-size: 20px;
}


/* header-search */

.recherche {
    align-items: center;
    display: flex;
    position: relative;
}

.form-btn {
    display: flex;
}

.recherche form {
    height: 50px;
    align-items: center;
}

.recherche input {
    height: 35px;
    border: none;
    padding: 0 10px 0 10px;
    width: 130px;
}

.icone-localisation {
    padding: 8px 8px 8px 22px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
    width: 28px;
}

.recherche input {
    height: 40px;
    border: none;
    padding: 0 10px 0 10px;
}

.icon-search {
    display: none;
    position: absolute;
    left: 208px;
    opacity: 1;
    color: white;
    padding: 6px 12px 6px 12px;
    background-color: #0065fc;
    border-radius: 0 10px 10px 0;
}

.btn-search {
    cursor: pointer;
    border: none;
    padding: 0 10px 0 10px;
}

.btn-reset {
    color: white;
    font-weight: bolder;
    background-color: #0065fc;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}


/* header-filtre */

.filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0 20px 0;
}

.filtres-titre h3 {
    font-size: 18px;
    font-weight: bolder;
}

.filtres-texte {
    font-size: 18px;
    font-weight: bolder;
}

.filtres-titre {
    margin-right: 25px;
}

.filtres-selection {
    height: 40px;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px 0 0;
}

.filtres-selection:hover i {
    background-color: #0065fc;
    color: white;
}

.filtres-icons {
    border-radius: 25px;
    width: 42px;
    height: 42px;
    color: #0065fc;
    background-color: #deebff;
    margin-left: -2px;
}

.filtres-selection i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtres-selection:hover {
    background-color: #deebff;
}

.filtres-texte {
    padding: 0 5px;
}


/* header-banniere */

.header-banniere {
    display: flex;
    align-items: center;
    font-size: 60%;
    margin-bottom: 15px;
}

.header-banniere i {
    color: #0065fc;
}

.header-banniere-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    border: 1px solid #deebff;
    margin: 0 10px 0 0;
}

.header-banniere p {
    font-size: 14px;
}


/* corps */

#corps {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}


/* hebergement */

#hebergement {
    width: 65%;
    background-color: #f2f2f2;
    border-radius: 18px;
}

.hebergements {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 95%;
    width: 92%;
    margin: auto;
    margin-top: 0;
}

.hebergement-titre {
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0;
}

.hebergement-grille {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0 50px 0;
}

.hebergement-grille figure {
    padding: 5px;
    width: 30%;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 2px 4px 15px -1px #9a9a9a;
    border: 1px white solid;
    border-radius: 10px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.hebergement-grille figure:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    background-color: #deebff;
}

.hebergement-marseille {
    padding: 5px 5px 5px 5px;
    margin: 0;
}

.figure-img {
    height: 110px;
    border-radius: 5px 5px 0 0;
}

.figure-img img {
    max-width: 100%;
    object-fit: cover;
}

.figcaption {
    height: 90px;
}

figcaption p {
    font-size: 10px;
}

.hebergements h3 {
    font-size: 12px;
    font-weight: bolder;
}

.hebergement-plus p {
    font-size: 18px;
    font-weight: bolder;
    margin: 0;
}

figure h3,
p {
    margin: 3px 0 2px 5px;
}

.hebergement-stars {
    font-size: 10px;
    margin-left: 3px;
}

.hebergement-stars i {
    color: #0065fc;
}

main figure:nth-child(1) .hebergement-stars i:nth-child(5) {
    color: #e4e4e4;
}

main figure:nth-child(3) .hebergement-stars i:nth-child(5) {
    color: #e4e4e4;
}

main figure:nth-child(4) .hebergement-stars i:nth-child(5) {
    color: #e4e4e4;
}

main figure:nth-child(4) .hebergement-stars i:nth-child(4) {
    color: #e4e4e4;
}

main figure:nth-child(5) .hebergement-stars i:nth-child(5) {
    color: #e4e4e4;
}

.figure-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.figure-img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}


/* populaire */

#populaire {
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    padding-right: 10px;
    padding-left: 10px;
    width: 30%;
}

.populaire-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-top: 18px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 20px;
}

.populaire {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 10px;
}

.populaire-grille {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.populaire-grille figure {
    width: 95%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.populaire-grille figure:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    background-color: #deebff;
}

.populaire-marseille {
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px #e4e4e4;
    height: 140px;
    margin: 18px 0;
}

.populaire-details {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.populaire-details h3 {
    font-size: 12px;
}

.populaire-details p {
    font-size: 10px;
}

.fa-chart-line {
    color: black;
    padding-top: 0px;
    padding-right: 10px;
}

.populaire-marseille img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.populaire-marseille a {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.populaire-stars {
    color: #0065fc;
    font-size: 10px;
}

.populaire-grille article:nth-child(2) .populaire-stars i:nth-child(5) {
    color: #e4e4e4;
}

.populaire-grille article:nth-child(3) .populaire-stars i:nth-child(5) {
    color: #e4e4e4;
}


/* activité */

#activite {
    border-radius: 18px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.activites {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 550px;
}

.activites figure {
    margin: 0;
}

.activites figure {
    width: 22%;
    height: 450px;
}

.activite-titre {
    margin: 15px 0;
}

.activite-titre h2 {
    font-size: 20px;
    font-weight: bolder;
}

.activite-carte-titre {
    padding: 10px 0 35px 20px;
    font-size: 12px;
    font-weight: bolder;
}

.activite-carte-titre h2 {
    font-weight: bolder;
    font-size: 20px;
}

.activite-carte-simple {
    overflow: hidden;
    background-color: white;
    border: 2px #f2f2f2 solid;
    border-radius: 20px;
    box-shadow: -1px 9px 11px -6px #e4e4e4;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.activite-carte-simple:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

.activite-carte-simple img {
    height: 400px;
    object-fit: cover;
    max-width: 100%;
}

.activite-carte-double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-carte-double2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.activite-carte1 img {
    width: 100%;
}

.activite-carte1-1 img {
    width: 100%;
}

.activite-moyenne-img img {
    height: 180px;
    max-width: 100%;
    object-fit: cover;
}

.activite-carte1 {
    background-color: white;
    border: 2px #f2f2f2 solid;
    border-radius: 20px;
    box-shadow: -1px 9px 11px -6px #e4e4e4;
    height: 240px;
    overflow: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.activite-carte1-1 {
    background-color: white;
    border: 2px #f2f2f2 solid;
    border-radius: 20px;
    box-shadow: -1px 9px 11px -6px #e4e4e4;
    height: 240px;
    overflow: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.activite-carte1:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.activite-carte1-1:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.activite-carte2,
.activite-carte2-2 {
    background-color: white;
    border: 2px #f2f2f2 solid;
    border-radius: 20px;
    box-shadow: -1px 9px 11px -6px #e4e4e4;
    overflow: hidden;
}

.activite-carte2 {
    height: 165px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.activite-carte2-2 {
    height: 165px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.activite-carte2:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.activite-carte2-2:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.activite-petite-carte img {
    height: 110px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}


/* footer */

footer {
    padding: 30px 0;
    background-color: #f2f2f2;
    display: flex;
    align-items: flex-start;
    bottom: 0px;
    left: 0px;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer-titre {
    font-weight: bolder;
    margin-bottom: 15px;
    font-size: 20px;
}

footer ul {
    list-style: none;
}

footer ul:nth-child(3) {
    margin-right: 300px;
}

footer li {
    font-size: 18px;
}


/* Medias */


/* tablette */

@media screen and (min-width: 870px) and (max-width: 1024px) {
    body {
        width: 100%;
        margin: auto;
    }
    #bloc_page {
        max-width: 95%;
        margin: auto;
    }
    #corps {
        text-transform: none;
        height: auto;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        width: 100%;
    }
    div .logo {
        margin: 0;
    }
    .header-top {
        position: relative;
        margin-right: 0;
        height: auto;
        margin-top: 20px;
        display: block;
        text-decoration: none;
    }
    .header-top .menu {
        text-align: center;
        flex-wrap: wrap-reverse;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-decoration: none;
        flex-wrap: wrap-reverse;
        margin-left: 0px;
        padding: 0px;
    }
    .header-top nav {
        margin-top: -60px;
    }
    .header-top .menu li:nth-child(1) {
        border-bottom: 2px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(2) {
        border-bottom: 2px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(1):hover {
        transition: 0.3s;
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(2):hover {
        transition: 0.3s;
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(3) {
        margin-bottom: 30px;
        text-align: right;
    }
    .header-top .menu li {
        width: 50%;
    }
    .header-top .menu a {
        font-size: 18px;
    }
    .header-top .menu a:hover {
        border-top: none;
    }
    .icon-search {
        display: block;
        position: absolute;
        left: 208px;
        opacity: 1;
        color: white;
        padding: 6px 12px 6px 12px;
        background-color: #0065fc;
        border-radius: 10px 10px 10px 10px;
    }
    form .btn-reset {
        width: 40px;
        opacity: 0;
        font-weight: bolder;
        background-color: #0065fc;
        cursor: pointer;
        border-radius: 0px 10px 10px 0px;
    }
    #hebergement {
        width: 100%;
        border-radius: 0 0 15px 15px;
    }
    .hebergement-marseille figcaption h3 {
        font-size: 14px;
        font-weight: bolder;
    }
    .hebergement-marseille figcaption p {
        font-size: 12px;
    }
    .hebergement-plus p {
        font-size: 18px;
        font-weight: bolder;
        margin: 0 0 30px 0;
    }
    .hebergement-grille {
        align-content: center;
    }
    .populaire-grille figure:hover {
        transform: none;
    }
    .hebergement-grille figure:hover {
        transform: none;
    }
    .activite-carte-simple:hover {
        transform: none;
    }
    .activite-carte1:hover {
        transform: none;
    }
    .activite-carte1-1:hover {
        transform: none;
    }
    .activite-carte2:hover {
        transform: none;
    }
    .activite-carte2-2:hover {
        transform: none;
    }
    #populaire {
        height: auto;
        width: 100%;
        padding: 0;
        border-radius: 15px 15px 0 0;
    }
    .populaire-details h3 {
        font-size: 14px;
        font-weight: bolder;
    }
    .populaire-details p {
        font-size: 12px;
    }
    .populaire-grille {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .populaire-grille figure {
        width: 30%;
    }
    .populaire-titre {
        padding-left: 10px;
    }
    .filtres {
        display: flex;
        align-items: center;
        margin: 25px 0 20px 0;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .activites {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 20px;
        align-items: center;
    }
    .activites figure {
        width: 100%;
    }
    .activites .activite-carte-simple {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
    .activite-grande-carte {
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        flex-direction: column;
    }
    .activite-grande-img {
        height: 150px;
    }
    .activite-grande-img img {
        width: 100%;
        height: 150px;
    }
    .activite-carte-simple {
        height: 200px;
    }
    .activite-carte-double {
        display: block;
        width: 100%;
    }
    .activite-carte-double2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .activite-carte-double {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .activite-moyenne-img img {
        height: 150px;
    }
    .activite-grande-carte p {
        font-size: 20px;
    }
    .activite-moyenne-carte .activite-carte-titre {
        padding-top: 0;
    }
    .activite-carte1 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-petite-img img {
        height: 150px;
    }
    .activite-petite-carte .activite-carte-titre {
        padding-top: 0;
    }
    .activite-carte1-1 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-carte2 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-carte2-2 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-petite-carte p {
        padding: 10px 0 30px 15px;
        font-size: 20px;
    }
    .activite-moyenne-carte p {
        padding: 10px 0 30px 15px;
        font-size: 20px;
    }
    footer ul:nth-child(3) {
        margin-right: 150px;
        margin-bottom: 0%;
    }
}


/* mobile */

@media screen and (max-width: 870px) {
    body {
        width: 100%;
        margin: auto;
    }
    #bloc_page {
        max-width: 94%;
        margin: auto;
    }
    #corps {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    #hebergement {
        background: none;
        width: 100%;
        border-radius: 18px;
        text-transform: none;
    }
    .header-top {
        position: relative;
        display: block;
        margin-bottom: 35px;
        height: auto;
    }
    .header-top nav {
        margin-top: -60px;
    }
    .header-top .menu li:nth-child(1) {
        border-bottom: 2px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(2) {
        border-bottom: 2px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(1):hover {
        transition: 0.3s;
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(2):hover {
        transition: 0.3s;
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(3) {
        text-align: right;
        margin-bottom: 30px;
    }
    .header-top .menu {
        text-align: center;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-decoration: none;
        flex-wrap: wrap-reverse;
    }
    .header-top .menu li {
        width: 50%;
    }
    .header-top .menu a {
        font-size: 18px;
    }
    .header-top .menu a:hover {
        border-top: none;
    }
    .icon-search {
        display: block;
        position: absolute;
        left: 208px;
        opacity: 1;
        color: white;
        padding: 6px 12px 6px 12px;
        background-color: #0065fc;
        border-radius: 10px 10px 10px 10px;
    }
    form .btn-reset {
        width: 40px;
        opacity: 0;
        font-weight: bolder;
        background-color: #0065fc;
        cursor: pointer;
        border-radius: 0px 10px 10px 0px;
    }
    .filtres {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 25px 0 20px 0;
    }
    .hebergement-grille {
        text-transform: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin: 30px 0 50px 0;
        align-content: center;
    }
    .hebergement-grille figure {
        padding: 5px;
        width: 100%;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: 2px 4px 15px -1px #9a9a9a;
        border: 1px white solid;
        border-radius: 10px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .hebergements {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-top: 0;
    }
    #populaire {
        padding: 0;
        background-color: #f2f2f2;
        border-radius: 15px 15px 15px 15px;
        width: 100%;
        text-transform: none;
    }
    .populaire {
        width: 100%;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }
    .populaire-titre {
        padding-left: 10px;
    }
    .populaire-marseille a {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: flex-start;
    }
    .populaire-grille figure:hover {
        transform: none;
    }
    .hebergement-grille figure:hover {
        transform: none;
    }
    .activite-carte-simple:hover {
        transform: none;
    }
    .activite-carte1:hover {
        transform: none;
    }
    .activite-carte1-1:hover {
        transform: none;
    }
    .activite-carte2:hover {
        transform: none;
    }
    .activite-carte2-2:hover {
        transform: none;
    }
    .activites {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: auto;
    }
    .activites figure {
        width: auto;
        margin-bottom: 20px;
    }
    .activite-carte-simple {
        height: 200px;
        overflow: hidden;
        width: 100%;
    }
    .activites .activite-carte-simple {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
    .activite-grande-carte {
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        flex-direction: column;
        height: 200px;
    }
    .activite-grande-img img {
        width: 100%;
        height: 150px;
    }
    .activite-grande-img {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 60%;
    }
    .activite-grande-img img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 50%;
    }
    .activite-carte-double2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }
    .activite-carte-double {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .activite-moyenne-img img {
        height: 150px;
    }
    .activite-grande-carte p {
        font-size: 20px;
    }
    .activite-moyenne-carte .activite-carte-titre {
        padding-top: 0;
    }
    .activite-carte1 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-petite-img img {
        height: 150px;
    }
    .activite-petite-carte .activite-carte-titre {
        padding-top: 0;
    }
    .activite-carte1-1 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-carte2 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-carte2-2 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-petite-carte p {
        padding: 10px 0 30px 15px;
        font-size: 20px;
    }
    .activite-moyenne-carte p {
        padding: 10px 0 30px 15px;
        font-size: 20px;
    }
    footer {
        background-color: #f2f2f2;
        display: flex;
        align-items: flex-start;
        margin: 0px 0px 15px 0px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    footer ul:nth-child(3) {
        margin-right: 150px;
        margin-bottom: 0%;
    }
}