/* General */

html,
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

#bloc_page {
    width: 90%;
    min-height: 100%;
    margin: auto;
}


/* header - top */

header .logo {
    margin-left: 0;
    margin-top: 20px;
}

header {
    border: 2px solid red;
    width: auto;
}

header h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}

header p {
    margin: 0;
    opacity: 0.7;
}

header li {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

li {
    list-style: none;
}

#titre p {
    margin: 15px 0;
    font-size: 70%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: auto;
    color: black;
}

.header-top a {
    color: #0065fc;
}

nav ul {
    margin-top: 0px;
}

nav a {
    text-decoration: none;
    padding-top: 25px;
    border-top: 5px solid #ffffff;
}

nav a:hover {
    border-top: 5px solid #0065fc;
    transition: 0.3s;
}

#nav-page {
    display: flex;
    justify-content: space-between;
}

#nav-page li {
    margin: 0 25px;
}

#titre {
    margin-bottom: 15px;
}


/* header - search */

.recherche {
    border-radius: 25px 25px 25px 25px;
    max-width: 350px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.recherche i {
    position: absolute;
    border: none;
    margin: 0;
    height: 100%;
    padding: 15px 20px 0 20px;
    background-color: #f2f2f2;
}

.btn-search {
    position: absolute;
    height: 100%;
    left: 45px;
    align-items: center;
    background-color: #ffffff;
    max-width: 150px;
    padding: 0 18px;
    margin-left: 2px;
    border: none;
}

.btn-reset {
    right: 0;
    position: absolute;
    border: none;
    height: 100%;
    padding: 0 30px;
    min-width: 60px;
    background-color: #0065fc;
    color: #ffffff;
    font-weight: 500;
}


/* header - filtre */

.filtre {
    position: relative;
    margin: 0;
    padding: 0;
}

.filtre span {
    position: absolute;
    top: 15px;
    margin-right: 30px;
}

.filtres {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.filtres li {
    font-weight: bold;
    position: relative;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 40px;
    padding: 0 12px 0 0;
    align-items: center;
}

.filtres li i {
    color: #0065fc;
    padding: 15px;
    background-color: #deebff;
    border-radius: 50px;
    margin-right: 10px;
}

.header-info {
    font-size: 70%;
}

.header-info {
    margin: 15px 0;
}

.header-info i {
    border-radius: 50%;
    border: 0.5px solid gray;
    padding: 1px 6px;
}


/* corps */

main {
    margin-top: 35px;
    border: 2px solid red;
}

.partie-1 {
    background-color: #f2f2f2;
    border: 0.5px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
}

.partie-2 {
    background-color: #f2f2f2;
    border: 0.5px solid black;
    border-radius: 15px;
}

.populaires {
    display: flex;
    justify-content: space-between;
}

.place {
    display: flex;
    justify-content: space-between;
}


/* footer */

footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    margin: 35px 0px 0px 0px;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border: 2px solid red;
}

footer ul {
    margin-right: 50px;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 15px;
}